{% extends "pizzeria_app/base.html" %}

    {% load bootstrap4 %}

    {% block page_header %}
        <h2>Post a Comment for <a href="{% url 'pizzeria_app:pizza' pizza.id %}">{{ pizza }} Pizza:</a></h2>
    {% endblock page_header %}

    {% block content %}

    <p>Add a New Comment:</p>

    <form action="{% url 'pizzeria_app:new_comment' pizza.id %}" method='POST' class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <!-- <button class="btn btn-lg btn-primary" name="submit">Post Comment</button> -->
            <div class="row">
                <div class="col-sm-3"><button class="btn btn-lg btn-primary" name="submit">Post Comment</button></div>
                <div class="col-sm-6"></div>
                <div class="col-sm-3"><a class="btn btn-primary btn-lg enabled float-right" role="button" href="{% url 'pizzeria_app:pizza' pizza.id %}" role="button">Cancel</a></div>
            </div>
        {% endbuttons %}
    </form>

    {% endblock content %}

