{% extends "pizzeria_app/base.html" %}

{% block content %}

    <p>Pizza: {{ pizza }}</p>

    <ul>
        {% for topping in pizza_with_toppings %}
        <li>
            <p>{{ topping.topping_name|linebreaks }}</p>
        </li>
        {% empty %}
        <li>There are no toppings for this pizza yet</li>
        {% endfor %}
    </ul>

    <p>Comments:</p>

    <ul>
        {% for comment in pizza_with_comments %}
        <li>
            <p>{{ comment.comment_text }}</p>
            <p>{{ comment.comment_author }},&nbsp;{{ comment.date_added|date:'M d, Y' }}</p>
        </li>
        {% empty %}
        <li>There are no comments for this pizza yet</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'pizzeria_app:new_comment' pizza.id %}">Post New Comment</a>
    </p>

{% endblock content %}